$background-color_1: #030f1b;

body {
  background-color: $background-color_1;
}

.fade-in-effect {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-in-effect {
  animation: slideIn 0.7s;
}

@keyframes slideIn {
  from {
    margin-left: -50%;
  }
  to {
    margin-left: 0%;
  }
}
