$text-color_white: #ffffff;

.dashboard.active {
  color: $text-color_white;
}
.food-menu.active {
  color: $text-color_white;
}
.all-orders.active {
  color: $text-color_white;
}
.order-history.active {
  color: $text-color_white;
}
.manage-staff.active {
  color: $text-color_white;
}
